<ion-header>
  <ion-navbar>
    <ion-title>Tutor Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
 
      <ion-card>
        <ion-avatar class="profile-image">
          <img src="{{ avatar }}" class="centerer" />
        </ion-avatar>
        <ion-card-header class="centeritems">
          <h1>
            <b>{{(profileData | async)?.displayName }}</b>
          </h1>
          <p>{{(profileData | async)?.school }}</p>
        </ion-card-header>
        <ion-card-content>
            <p><span><ion-icon name="star" color="primary"></ion-icon></span><b> Specializations:</b> </p>
              <p>{{ (profileData | async)?.interests }}</p>
            <p><span><ion-icon name="calendar" color="primary"></ion-icon></span><b> Availble on:</b></p>
            <span *ngIf="adlaw[0].Monday">Monday,</span>
              <span *ngIf="adlaw[1].Tuesday">Tuesday,</span>
              <span *ngIf="adlaw[2].Wednesday">Wednesday,</span>
              <span *ngIf="adlaw[3].Thursday">Thursday,</span>
              <span *ngIf="adlaw[4].Friday">Friday,</span>
              <span *ngIf="adlaw[5].Saturday">Saturday,</span>
              <span *ngIf="adlaw[6].Sunday">Sunday</span>
              <p><b>Flexible?:</b>
                <span *ngIf="flex; else no">Yes</span>
                <ng-template #no>
                   <span>No</span>
                  </ng-template>
              </p>
            
          
              
        
         
         
          <button ion-button full icon-start color="secondary" (click)="messageTutor()" class="message">
              <ion-icon name="chatbubbles"></ion-icon>
              <div>Message</div>
            </button>
         
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <h2><ion-icon name="people" color="primary"></ion-icon>Teaches</h2>
          </ion-card-header>
          <ion-card-content>
              <span *ngIf="levels[0].PreSchool">
                  <ion-checkbox disabled slot="end" checked="{{ levels[0].PreSchool }}"></ion-checkbox> Pre-School
              </span>
                <span *ngIf="levels[1].Elementary">
                    <ion-checkbox disabled slot="end" checked="{{ levels[1].Elementary }}"></ion-checkbox> Elementary
                </span>
                <span *ngIf="levels[2].HighSchool">
                    <ion-checkbox disabled slot="end" checked="{{ levels[2].HighSchool }}"></ion-checkbox> High School
                </span>
                <span *ngIf="levels[3].JuniorHighSchool">
                    <ion-checkbox disabled slot="end" checked="{{ levels[3].JuniorHighSchool }}"></ion-checkbox> Junior High School
                </span>
                <span *ngIf="levels[4].SeniorHighSchool">
                    <ion-checkbox disabled slot="end" checked="{{ levels[4].SeniorHighSchool }}"></ion-checkbox> Senior High School
                </span>
                <span *ngIf="levels[5].CollegeUndergraduate">
                    <ion-checkbox disabled slot="end" checked="{{ levels[5].CollegeUndergraduate }}"></ion-checkbox> College Undergraduate
                </span>
                <span *ngIf="levels[6].Adult">
                    <ion-checkbox disabled slot="end" checked="{{ levels[6].Adult }}"></ion-checkbox> Adult
                </span>
          </ion-card-content>
        </ion-card>
      


  <ion-card>
    <ion-card-header>
      <h2>Ratings</h2>
    </ion-card-header>
    <ion-card-content> 
        <div>
            <ion-icon name="star" *ngFor="let num of [1, 2, 3, 4, 5]" (click)="rate(num)" [ngStyle]="{'color': getColor(num)}">
            </ion-icon>
          </div>
    </ion-card-content>
  </ion-card>

 
</ion-content>
