
<ion-header>
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>

        

        
       

        <ion-item>
            <ion-label floating>First Name: </ion-label>
            <ion-input type="text" [(ngModel)]="fname"></ion-input>      
        </ion-item>
        <ion-item>
            <ion-label floating>Last Name: </ion-label>
            <ion-input type="text" [(ngModel)]="lname"></ion-input>      
        </ion-item>

        <ion-item>
            <ion-label floating>Bio: </ion-label>
            <ion-textarea  rows="3" [(ngModel)]="profile.desc"></ion-textarea>
          </ion-item>
    
        <ion-item>
            <ion-label floating>Gender: </ion-label>
            <ion-select [(ngModel)]="profile.gender">
              <ion-option value="Male">Male</ion-option>
              <ion-option value="Female">Female</ion-option>
            </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-label floating>City: </ion-label>
            <ion-select [(ngModel)]="profile.city">
              <ion-option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</ion-option>
              
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label floating>Baranggay: </ion-label>
            <ion-select [(ngModel)]="profile.brgy">
              <ion-option *ngFor="let brgy of brgys" value="{{brgy.name}}">{{brgy.name}}</ion-option>
             
            </ion-select>
          </ion-item>
    
          <ion-item>
              <ion-label floating>Date of Birth</ion-label>
              <ion-datetime displayFormat="MMMM/DD/YYYY" [(ngModel)]="profile.dob" ></ion-datetime>
          </ion-item>
  
          <ion-item>
            <ion-label floating>Profession: </ion-label>
            <ion-select [(ngModel)]="profile.profession">
              <ion-option value="Student">Student</ion-option>
              <ion-option value="Employed">Employed</ion-option>
            </ion-select>
          </ion-item>
  
          <ion-item>
              <ion-label floating>Educational Level</ion-label>
              <ion-select [(ngModel)]="profile.educlevel">
                <ion-option value="Senior High School">Senior High School</ion-option>
                <ion-option value="College Student">College Undergraduate</ion-option>
                <ion-option value="College">College Graduate</ion-option>
                <ion-option value="PhD">Doctorate</ion-option>
                <ion-option value="MAT">Masteral</ion-option>
              </ion-select>
            </ion-item>
  
          <ion-item>
              <ion-label floating>School</ion-label>
              <ion-input type="text" [(ngModel)]="profile.school"></ion-input>
          </ion-item>
   
        </ion-list>

        <ion-row>
            
            <ion-col>
                <button ion-button color="energy" block round (click)="changepassword()"> <ion-icon name="lock"></ion-icon><div style="padding-left: 10px;">Change password</div></button>
            </ion-col>
            
            <ion-col>
                <button ion-button color="energy" block round (click)="submitid()"> <ion-icon name="card"></ion-icon><div style="padding-left: 10px;">Submit an ID</div></button>
            </ion-col>
            
          </ion-row>
          <ion-row *ngIf="type == 'Tutor'">
              <ion-col>
                  <button ion-button color="primary" block round (click)="paypal()"> <ion-icon name="paper-plane"></ion-icon><div style="padding-left: 10px;">Go premium</div></button>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
              
              <button ion-button color="secondary" block round (click)="save()"> <ion-icon name="checkmark"></ion-icon><div style="padding-left: 10px;">Save</div></button>
              </ion-col>
          </ion-row>
        

          
        <!-- <button ion-button color="secondary" block round (click)="save()"> <ion-icon name="save"></ion-icon><div>Save</div></button> -->

</ion-content>
