
<ion-header>
  <ion-navbar>
    <ion-title>Request Tutor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form  novalidate (ngSubmit)="sendmessage()" [formGroup]="messageform">
        <ion-item>
            <ion-label floating>Topic</ion-label>
            <ion-select [(ngModel)]="initialmessage.topic" formControlName="topic" name="topic">
              <ion-option *ngFor="let interest of forSelect" value="{{interest}}" >{{interest}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="messageform.get('topic').hasError('required') && messageform.get('topic').touched">
              <div class="error" *ngIf="messageform.get('topic').hasError('required') && messageform.get('topic').touched">
                  Please choose one
                </div>
          </ion-item>

          <ion-item>
            <ion-label floating>Level</ion-label>
            <ion-select [(ngModel)]="initialmessage.level" formControlName="level" name="level">
              <ion-option  *ngFor="let level of forSelectLevels" value="{{level}}">{{level}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="messageform.get('level').hasError('required') && messageform.get('level').touched">
              <div class="error" *ngIf="messageform.get('level').hasError('required') && messageform.get('level').touched">
                  Please choose one
                </div>
          </ion-item>
          <ion-item>
              <ion-label floating>Preferred Meeting Place</ion-label>
              <ion-select [(ngModel)]="initialmessage.place" formControlName="place" name="place">
                <ion-option value="Home">Learner's Home</ion-option>
                <ion-option value="School">School</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines *ngIf="messageform.get('place').hasError('required') && messageform.get('place').touched">
                <div class="error" *ngIf="messageform.get('place').hasError('required') && messageform.get('place').touched">
                    Please choose one
                  </div>
            </ion-item>
        <ion-item>
          <ion-label>Subject</ion-label>
          <ion-input type="text" [(ngModel)]="initialmessage.subject" formControlName="subject" name="subject"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="messageform.get('subject').hasError('required') && messageform.get('subject').touched">
            <div class="error" *ngIf="messageform.get('subject').hasError('required') && messageform.get('subject').touched">
                Please input a subject
              </div>
        </ion-item>
        <ion-item>
          <ion-label>Message</ion-label>
          <ion-textarea  rows="5" [(ngModel)]="initialmessage.message" formControlName="message" name="message"></ion-textarea>
        </ion-item>
        <ion-item no-lines *ngIf="messageform.get('message').hasError('required') && messageform.get('message').touched">
            <div class="error" *ngIf="messageform.get('message').hasError('required') && messageform.get('message').touched">
                Please input a message
              </div>
        </ion-item>
      <button ion-button type="submit" block round color="secondary" [disabled]="messageform.invalid">Send</button>

      </form>
    
        <!-- <ion-item>
            <ion-label floating>Topic</ion-label>
            <ion-select [(ngModel)]="initialmessage.topic">
              <ion-option *ngFor="let interest of forSelect" value="{{interest}}">{{interest}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Level</ion-label>
            <ion-select [(ngModel)]="initialmessage.level">
              <ion-option  *ngFor="let level of levels" value="{{level.val}}">{{level.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
              <ion-label floating>Preferred Meeting Place</ion-label>
              <ion-select [(ngModel)]="initialmessage.place">
                <ion-option value="Home">Home</ion-option>
                <ion-option value="Home">School</ion-option>
              </ion-select>
            </ion-item>
        <ion-item>
          <ion-label>Subject</ion-label>
          <ion-input type="text"  [(ngModel)]="initialmessage.subject"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Message</ion-label>
          <ion-textarea  rows="5" [(ngModel)]="initialmessage.message"></ion-textarea>
        </ion-item> -->
      
     
      <!-- <button ion-button type="submit" block (click)="sendmessage()">Send</button> -->

</ion-content>
