
<ion-header>
  <ion-navbar>
    <ion-title>Message Request</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf = "!tutor; else isTutor">
      <div *ngFor="let item of messagedetails">
         
          <ion-item> 
            <!-- <ion-avatar item-start>
              <img *ngIf = "item.photoURL; else noPic" src="{{item.photoURL}}">
              <ng-template #noPic>
                  <img src="{{imgurl}}">
                </ng-template>
          </ion-avatar> -->
           <b>Tutor:</b> <span>{{item.recieverfname}}</span></ion-item>
           <ion-item><b>Level:</b> <span>{{item.level}}</span></ion-item>
           <ion-item><b>Topic:</b> <span>{{item.topic}}</span></ion-item>
           <ion-item><b>Subject:</b> <span>{{item.subject}}</span></ion-item>
           <ion-item><b>Preferred Place:</b> <span>{{item.place}}</span></ion-item>
           
           <p style='padding: 15px;'>{{item.message}}</p>
           <button *ngIf="!item.isAccepted" disabled ion-button color="primary" block>Pending</button>
           <button *ngIf="item.isAccepted" ion-button color="secondary" block>Hire Tutor</button>
        </div>
    
  </ion-list>

  <ng-template #isTutor>
     
      <div *ngFor="let item of messagedetails">
         
        <ion-item> 
          <!-- <ion-avatar item-start>
            <img *ngIf = "item.photoURL; else noPic" src="{{item.photoURL}}">
            <ng-template #noPic>
                <img src="{{imgurl}}">
              </ng-template>
        </ion-avatar> -->
         <b>Sender:</b> <span>{{item.senderfname}}</span></ion-item>
         <ion-item><b>Level:</b> <span>{{item.level}}</span></ion-item>
         <ion-item><b>Topic:</b> <span>{{item.topic}}</span></ion-item>
         <ion-item><b>Subject:</b> <span>{{item.subject}}</span></ion-item>
         <ion-item><b>Preferred Place:</b> <span>{{item.place}}</span></ion-item>
         
         <p  style='padding: 15px;'>{{item.message}}</p>
         <button *ngIf="!item.isAccepted" ion-button color="primary" block (click)="accept(item.sender)">Accept</button>
      <button *ngIf="!item.isAccepted" ion-button color="secondary" block (click)="reject(item.sender)">Reject</button>
      <button *ngIf="item.isAccepted" disabled ion-button color="primary" block>Pending</button>
      </div>
      
      
 
  </ng-template>

</ion-content>
