
<ion-header>
  <ion-navbar>
    <ion-title>Requests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to update"
          refreshingSpinner="circles"
          refreshingText="Please wait...">
        </ion-refresher-content>
      </ion-refresher>
    <ion-list *ngIf="!tutor; else istutor">
        <ion-list-header>
            Pending Requests sent to Tutors
          </ion-list-header>
          <div *ngIf="exists; else noexists">
            <ion-item  *ngFor="let message of learnermessages" (click)="openmessage(message.reciever,message.sender)">
              <ion-avatar item-start>
                  <img *ngIf = "message.recieverphotoURL; else noPic" src="{{message.recieverphotoURL}}">
                  <ng-template #noPic>
                      <img src="{{imgurl}}">
                    </ng-template>
              </ion-avatar>
              <span *ngIf="!message.isRead; else read">
                  <h2><b>{{message.recieverfname}}</b></h2>
                  <p><b>{{message.subject}}</b></p>
                </span>
                <ng-template #read>
                    <h2>{{message.recieverfname}}</h2>
                      <p>{{message.subject}}</p>
                </ng-template>
              <ion-icon item-end name="arrow-dropright"></ion-icon>
            </ion-item>
          </div>

            <ng-template #noexists>

                <p style="text-align: center; align-content: center;">You have no pending requests.</p>
          
              </ng-template>

            <ion-list-header>
              Approved Requests
            </ion-list-header>
            <div *ngIf="approvedexists; else noappprovedexists">
              <ion-item *ngFor="let message of learnerapprovedmessages">
               <!-- (click)="openmessage(message.reciever,message.sender)" -->
                <ion-avatar item-start>
                    <img *ngIf = "message.recieverphotoURL; else noPic" src="{{message.recieverphotoURL}}">
                    <ng-template #noPic>
                        <img src="{{imgurl}}">
                      </ng-template>
                </ion-avatar>
                <span>
                    <h2>{{message.recieverfname}}</h2>
                    <p>{{message.topic}}</p>
              </span>
             
            
                <ion-icon *ngIf="!message.isBuddies" color="secondary" name="person-add" item-end (click)="hiretutor(message.reciever, message.recieverfname, message.sender)"></ion-icon>
             
                  
              
              </ion-item>
            </div>
              <ng-template #noappprovedexists>
                  <p style="text-align: center; align-content: center;">You have no Accepted requests.</p>
              </ng-template>
         
        </ion-list>

        
<ng-template #istutor>
    
      <ion-list-header>
          Messages Requests by Learners
        </ion-list-header>
        <div *ngIf="exists; else noexists">
          <ion-item *ngFor="let message of tutormessages" (click)="openmessage(message.reciever,message.sender)">
            <ion-avatar item-start>
                <img *ngIf = "message.senderphotoURL; else noPic" src="{{message.senderphotoURL}}">
                <ng-template #noPic>
                    <img src="{{imgurl}}">
                  </ng-template>
            </ion-avatar>
            <span *ngIf="!message.isRead; else read">
            <h2><b>{{message.senderfname}}</b></h2>
            <p><b>{{message.subject}}</b></p>
          </span>
          <ng-template #read>
              <h2>{{message.senderfname}}</h2>
                <p>{{message.subject}}</p>
          </ng-template>
            <ion-icon item-end name="arrow-dropright"></ion-icon>
          </ion-item>
         </div>

         <ng-template #noexists>

            <p style="text-align: center; align-content: center;">You have no requests.</p>
      
          </ng-template>

          <ion-list-header>
                  Approved Requests
                </ion-list-header>
                <div *ngIf="approvedexists; else noappprovedexists">
                  <ion-item *ngFor="let message of tutorapprovedmessages">
                    <ion-avatar item-start>
                        <img *ngIf = "message.senderphotoURL; else noPic" src="{{message.senderphotoURL}}">
                        <ng-template #noPic>
                            <img src="{{imgurl}}">
                          </ng-template>
                    </ion-avatar>
                    <span>
                    <h2>{{message.senderfname}}</h2>
                    <p>{{message.topic}}</p>
                  </span>

                  <ion-icon color="secondary" *ngIf="message.isBuddies" name="chatbubbles" item-end (click)="buddychat(message.sender,message.senderphotoURL)"></ion-icon>
                  
                  </ion-item>
                  </div>
               
                  <ng-template #noappprovedexists>

                      <p style="text-align: center; align-content: center;">You have no Approved requests.</p>
                
                    </ng-template>

          

 
  </ng-template>
      

</ion-content>
