page-ratingmodal {
    .background {
        background-color:  color($colors, bg);
    }

    .scroll-items {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .message {
        margin-top: 15px;
    }

}
