<ion-header>
  <ion-navbar>
    <ion-title>Personal Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Gender: </ion-label>
      <ion-select [(ngModel)]="profile.gender">
        <ion-option value="Male">Male</ion-option>
        <ion-option value="Female">Female</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>City: </ion-label>
      <ion-select [(ngModel)]="profile.city">
        <ion-option *ngFor="let city of cities" value="{{ city.name }}">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Barangay: </ion-label>
      <ion-select [(ngModel)]="profile.brgy">
        <ion-option *ngFor="let brgy of brgys" value="{{ brgy.name }}">{{brgy.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Profession: </ion-label>
      <ion-select [(ngModel)]="profile.profession">
        <ion-option value="Student">Student</ion-option>
        <ion-option value="Employed">Employed</ion-option>
        <ion-option value="Both">Both</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <button ion-button color="secondary" block (click)="createProfile()">Create Profile</button>
</ion-content>
