<ion-header>
  <ion-navbar>
    <ion-title>Search For Tutors</ion-title>
  </ion-navbar>
  <ion-toolbar>

    <ion-item color="white">
      <ion-input
        type="text"
        [(ngModel)]="input"
        (ionChange)="search()"
        (ionBlur)="removeFocus()"
        debounce="500"
      ></ion-input>
      <ion-buttons item-end>
        <button
          class="searchbutton"
          ion-button
          icon-only
          (click)="searchtutors(input)"
          style="padding: 5px; margin: 5px;"
        >
          <ion-icon name="search" style="color: black;"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let country of countries" (click)="add(country)">
        {{ country }}
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Level</ion-label>
        <ion-select [(ngModel)]="filter.level" (change)="chooselevel()">
          <ion-option value="PreSchool">Pre-School</ion-option>
          <ion-option value="Elementary">Elementary</ion-option>
          <ion-option value="HighSchool">High School</ion-option>
          <ion-option value="JuniorHighSchool">Junior High School</ion-option>
          <ion-option value="SeniorHighSchool">Senior High School</ion-option>
          <ion-option value="CollegeUndergraduate"
            >College Undergraduate</ion-option
          >
          <ion-option value="Adult">Adult</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label>Brgy</ion-label>
        <ion-select [(ngModel)]="filter.brgy">
          <ion-option *ngFor="let brgy of brgys" value="{{ brgy.name }}">{{
            brgy.name
          }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button
        item-end
        ion-button
        block
        icon-start
        (click)="filtertutors()"
        color="secondary"
      >
        <ion-icon name="search"></ion-icon>
        <div>Filter</div>
      </button>
    </ion-col>
    <ion-col>
      <button
        item-end
        ion-button
        block
        icon-start
        (click)="reset()"
        color="energy"
      >
        <ion-icon name="refresh"></ion-icon>
        <div>Reset</div>
      </button>
    </ion-col>
  </ion-row>

  <div *ngIf="exists; else noexists">
    <ion-card *ngFor="let user of filteredtutors">
      <ion-item>
        <ion-thumbnail item-start>
          <img *ngIf="user.photoURL; else noPic" src="{{ user.photoURL }}" />
        </ion-thumbnail>
        <ng-template #noPic>
          <img src="{{ imgurl }}" />
        </ng-template>
        <h2>
          <b>Tutor {{ user.displayName }}</b>
        </h2>
        <p>{{ user.course }}</p> 
        <p> {{ user.school }}</p>
        <p item-end style="font-size: 20px;">
            {{ user.avgrating }} <ion-icon name="star" color="energy" style="padding-left: 2px;"></ion-icon>
        </p>
      </ion-item>

      <ion-card-content> </ion-card-content>

      <ion-row>
        <ion-col align-self-center text-center>
          <button
            (click)="goToDetailPage(user.uid)"
            ion-button
            icon-start
            block
            clear
          >
            <ion-icon name="contact"></ion-icon>
            <div>Profile</div>
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
          <button
            ion-button
            icon-start
            block
            clear
            (click)="messageTutor(user.uid)"
            color="secondary"
          >
            <ion-icon name="mail"></ion-icon>
            <div>Message</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ng-template #noexists>
    <p style="text-align: center; align-content: center;">
      Sorry! There are currently no tutors for that subject.
    </p>
  </ng-template>
</ion-content>
