
<ion-header>
  <ion-navbar>
    <ion-title>Interests</ion-title>
  </ion-navbar>
 
</ion-header>

<ion-content padding class="background">
  
    <h5>
        Select your subjects of Expertise
      </h5>
      <!-- <ion-searchbar  [(ngModel)]="searchstring" (input)="searchuser($event)"></ion-searchbar> -->
      <ion-searchbar [(ngModel)]="input" (ionChange)="search()" (ionBlur)="removeFocus()" debounce=500></ion-searchbar>
      <ion-list>
          <ion-item *ngFor="let country of countries" (click)="add(country)">
          
            <ion-label>{{country}}</ion-label>
            <ion-checkbox slot="end" (ionChange)="addCheckbox($event,country)"></ion-checkbox>
          </ion-item>
        </ion-list>
    
  <ion-list>
    
    <!-- <ion-searchbar  (ionInput)="getItems($event)"></ion-searchbar> -->

    <!-- <ion-item *ngFor="let sub of filteredsub">
      <ion-label>{{sub}}</ion-label>
      <ion-checkbox slot="end" (ionChange)="addCheckbox($event,sub)"></ion-checkbox>
    </ion-item> -->
  </ion-list>
  <ion-list no-lines>
      <p>Selected Subjects:</p>
      <ion-item *ngFor="let sub of selectedArray">
            <ion-label>{{sub}}</ion-label>
            <ion-checkbox slot="end" checked (ionChange)="addCheckbox($event,sub)"></ion-checkbox>
          </ion-item>
  </ion-list>
<br>
 

      <ion-row>
        <ion-col>
          <button ion-button block color="secondary" (click)="goback()">Previous</button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="done()">Next</button>
        </ion-col>
      </ion-row>
    
</ion-content>
